#firstPar {
	font-family: "Times New Roman";
	font-style: normal;
}
#secondPar {
	font-family: "Lucida Console";
	font-style: italic;
}
#color {
	color:#FF00FF;
	background-color: #00FF00;
}
.img {
	width:50px;
	height:50px;
}
.middle {
	text-align:center;
}
.center {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.container {
	position: relative;
	text-align: center;
}
#margin {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
#dottedLine {
	border-style: dotted;
}
#float {
	float:left;
	overflow:auto;
	width: 90px;
	height:120px;
	margin-left: 200px;
	margin-right: 20px;
}
.prionantha {
	text-align: center;
	background:#DDAFEA;
	border-radius: 25px;
	width: 400px;
	height:400px;
}